.sidebar{
 float: left;
  width: 50%;
  border: solid black;
  border-width: 15px;
  margin-bottom: 20px;
  padding: 30px;
  box-sizing: border-box;
  background-color:lightblue
}
.clouds{
  width: 800px;
  float: center;
  padding: 40px;
}
.info{
  float: left;
}

.test{
  float: right;
}

.test2{
  float: right;
  padding: 20px;
}